@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat:wght@300&display=swap');


body {
    margin: 10px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    color: #323232;
  }

/* Head styles and color */
  h1, h2, h3 {
    font-family: 'Lora', serif;
    color: #2f2f2f;
    letter-spacing: 3px;
  }

  h3 {
    border-bottom: 1px solid #323232;
  }


/* Banner-logo section and text*/
#banner {

    height: 40vh;
    width: 100%;

    backface-visibility: hidden;
    animation: imagesTransit 10s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background: url('../images/cover.jpg') no-repeat center center;
    background-size: cover;
}

#banner a {
  text-decoration: none;
}

#banner-text {
  font-family: 'Lora', serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  
  
  width: 300px;
  height: 300px;


  top: 60px;
  left: 20px;

  display: table-cell;
  vertical-align: middle;
  
  background-color: rgb(204, 122, 78, 0.8);
  position: relative;
  border-radius: 50%;
}

#banner-text h1 {
  font-size: 200%;
  color: #fff;
}

#banner-text h2 {
  font-size: 150%;
  color: #fff;
}


#banner-text h3 {
  font-size: 130%;
  color: #fff;
  border-bottom: 0;
}

/* Animation images of logo */
@keyframes imagesTransit {
  0% {
    background-image: url('../images/cover.jpg');
  }
  50% {
    background-image: url('../images/cover1.jpg');
  }
  100% {
    background-image: url('../images/cover2.jpg');
  }
 
}


/* Menu section */
  nav ul {
    font-size: 100%;
    letter-spacing: 3px;
    list-style: none;
    background-color: #cc7a4e;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 2.5%;
  }
   
  nav a {
    text-decoration: none;
    color: #fff;
    display: block;
  }
  
  nav a:hover {
    background-color: #fff;
    color: #cc7a4e;
  }

  .active {
    border-bottom: 1px solid #323232;
  }
   
 /* Table in divContent Responsive */
.dTable{
	display: table;
	width: 100%;
}
.dTR {
	display: table-row-group;
}
.dTHead {
	background-color: #EEE;
	display: table-header-group;
}

.dTH,
.dTH_Korean, 
.dTH_Japan,
.dTH_Chinese,
.dTD, 
.dTD_Korean,
.dTD_Japan,
.dTD_Chinese {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;

}

.dTD_InterTable {
  padding: 20px 10px;
  font-weight: 600;
  font-size: 120%;
  font-style: italic;
}

.dTH,
.dTH_Korean, 
.dTH_Japan,
.dTH_Chinese {
  font-weight: 600;
  font-size: 110%;
}

.dTD_Korean, .dTH_Korean {
  background-color: #e9e571;
}

.dTD_Japan, .dTH_Japan {
  background-color: #f1a6a6;
}

.dTD_Chinese, .dTH_Chinese {
  background-color: #cc7a4e;
  color: #fff;
}

.dTHead {
	display: table-header-group;
	font-weight: bold;
  font-size: 110%;

}

.dTableBody {
	display: table-row-group;
}