@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat:wght@300&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #323232;
  }

/* Head sections */
  h1, h3 {
    font-family: 'Lora', serif;
    color: #2f2f2f;
    letter-spacing: 3px;
  }

/* Banner-logo section */
#banner {
    float: left;
    font-size: 150%;
    text-transform: uppercase;
    text-decoration: none;
    height: 300px;
    width: 100%;
    background: url("../images/cover.jpg") no-repeat center center;
}


/* Menu section */
  nav ul {
    font-size: 100%;
    letter-spacing: 3px;
    list-style: none;
    background-color: #cc7a4e;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 2.5%;
  }
   
  nav a {
    text-decoration: none;
    color: #fff;
    display: block;
  }
  
  nav a:hover {
    background-color: #fff;
    color: #cc7a4e;
  }

  .active {
    border-bottom: 1px solid #323232;
  }
   
 