@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat:wght@300&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #323232;
  }

#content {
  margin: 10px;
  padding: 10px;
}

/* Head styles and color */
  h1, h2, h3 {
    font-family: 'Lora', serif;
    color: #2f2f2f;
    letter-spacing: 3px;
  }

  h3 {
    border-bottom: 1px solid #323232;
  }


/* Banner-logo section and text*/
#banner {

    height: 40vh;
    width: 100%;
    overflow: hidden;

    backface-visibility: hidden;
    animation: imagesTransit 10s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background: url('../images/cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#banner a {
  text-decoration: none;
}

#banner-text {
  font-family: 'Lora', serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  
  width: 35vh;
  height: 35vh;

  top: 1vh;
  left: 1vh;

  display: table-cell;
  vertical-align: middle;
  
  background-color: rgb(204, 122, 78, 0.8);
  position: relative;
  border-radius: 50%;
}

#banner-text h1 {
  font-size: 150%;
  color: #fff;
}

#banner-text h2 {
  font-size: 130%;
  color: #fff;
}


#banner-text h3 {
  font-size: 110%;
  color: #fff;
  border-bottom: 0;
}

/* Animation images of logo */
@keyframes imagesTransit {
  0% {
    background-image: url('../images/cover.jpg');
  }
  50% {
    background-image: url('../images/cover1.jpg');
  }
  100% {
    background-image: url('../images/cover2.jpg');
  }
 
}


/* Menu section */
  #mainmenu ul {
    font-size: 100%;
    letter-spacing: 3px;
    list-style: none;
    background-color: #cc7a4e;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  #mainmenu li {
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 2.5%;
  }
   
  #mainmenu a {
    text-decoration: none;
    color: #fff;
    display: block;
  }
  
  #mainmenu a:hover {
    background-color: #fff;
    color: #cc7a4e;
  }

  #mainmenu .active {
    border-bottom: 1px solid #323232;
  }
   
/* Medialinks section */
footer {
  list-style: none;
  text-align: center;
  height: 150px;
}

#medialinks ul {
  border-top: 1px solid #323232;
}

#medialinks li {
  display: inline-block;
  padding: 3%;
  margin: 1%;
  font-size: 120%;
}
 
#medialinks a {
  text-decoration: none;
  color: #290f0f;
  display: block;
}


 /* Table in divContent  */
.dTable{
	display: table;
	width: 100%;
}
.dTR {
	display: table-row-group;
}
.dTHead {
	background-color: #EEE;
	display: table-header-group;
}

.dTH,
.dTH_Korean, 
.dTH_Japan,
.dTH_Chinese,
.dTD, 
.dTD_Korean,
.dTD_Japan,
.dTD_Chinese {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;

}

.dTD_InterTable {
  padding: 20px 10px;
  font-weight: 600;
  font-size: 120%;
  font-style: italic;
}

.dTH,
.dTH_Korean, 
.dTH_Japan,
.dTH_Chinese {
  font-weight: 600;
  font-size: 110%;
}

.dTD_Korean, .dTH_Korean {
  background-color: #e9e571;
}

.dTD_Japan, .dTH_Japan {
  background-color: #f1a6a6;
}

.dTD_Chinese, .dTH_Chinese {
  background-color: #cc7a4e;
  color: #fff;
}

.dTHead {
	display: table-header-group;
	font-weight: bold;
  font-size: 110%;

}

.dTableBody {
	display: table-row-group;
}

/* Gallery */
#pictures {
  line-height: 0;
  column-count: 4;
  column-gap: 0;
}

#pictures img {
  width: 100%;
  height: auto;
}

#contact-info {
    margin: 5px 5% 0 0;
    left: 5%;
    padding: 30px;
    color: #fff;
    background-color: rgb(204, 122, 78, 0.8);
    max-width: 300px;  
}

/*Media queries to be more responsive the page */
@media screen and (max-width: 1200px) {
  #pictures {
    column-count: 3;
  }
}

@media screen and (max-width: 800px) {
   /* Table in divContent responsive */
    .dTable, 
    .dTR ,
    .dTHead {
      display: block;
      margin: 0;
    }

    .dTH, 
    .dTD {
      margin-left: 0px;
      display: block;
    }

    .dTH_Korean, 
    .dTD_Korean {
      margin-left: 10px;
      display: block;
    }
    
    .dTH_Japan,
    .dTD_Japan {
      margin-left: 20px;
      display: block;
    }

    .dTH_Chinese,
    .dTD_Chinese {
      margin-left: 30px;
      display: block;
    }

    .dTableBody {
      display: block;
    }

    #mainmenu li {
      display: block;
      clear: both;
      width: 100%;
      margin-left: 0;
    }


    #content {
      margin: 3px;
      padding: 3px;
    }

    h1 {
      text-align: center;
    }

    #pictures {
      column-count: 2;
    }
}

@media screen and (max-width: 400px) {
  #pictures {
    column-count: 1;
  }
}

@media screen and (max-width: 315px) {
  #banner-text {
    display: none;
  }
}